<launch>
  <env
    name="ROSCONSOLE_CONFIG_FILE"
    value="$(find beginner_tutorials)/config/config.conf"
  />
  <arg name="use_param" default= "10" />
  <arg name="cover" default= "false"/>
  <node
     name = "talker"
     pkg = "beginner_tutorials"
     type = "talker"
     output = "screen"
     args = "$(arg use_param)"
  />

  <node
     name = "listener"
     pkg = "beginner_tutorials"
     type = "listener"
     launch-prefix = "xterm -e"
  />
  <node
     pkg="rosbag"
     name="record"
     type="record"
     args="-a -O recordBagFiles.bag"
     if="$(arg cover)"
/>
</launch>     
	
